In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install scikit_learn

Requirement already satisfied: scikit_learn in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from scikit_learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from scikit_learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from scikit_learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from scikit_learn) (3.5.0)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [94]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.0.0)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,classification_report
from scipy.sparse import hstack

In [3]:
with open(r"C:\Users\Lenovo\Documents\jupyter_notebook\train_data.txt",'r',encoding='latin-1') as file:
    lines = file.readlines()

In [4]:
id = []
titles = []
genres = []
descriptions = []

In [5]:
for line in lines:
    parts = line.strip().split(':::')
    id.append(parts[0])
    titles.append(parts[1])
    genres.append(parts[2])
    descriptions.append(parts[3])

In [6]:
len(id) ==len(titles) ==len(descriptions)==len(genres)

True

In [7]:
df = pd.DataFrame({'index':id,'title':titles,'genre':genres,'description':descriptions})

In [8]:
df

,index,title,genre,description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...
...,...,...,...,...
54209,54210,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on ...
54210,54211,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The sist...
54211,54212,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about g..."
54212,54213,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and hav...
54213,54214,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense ..."

In [9]:
print(df.dtypes) #identified they having categorical data like action,drama,comedy.. if data type is object or category

index          object
title          object
genre          object
description    object
dtype: object

In [10]:
with open(r"C:\Users\Lenovo\Documents\jupyter_notebook\test_data.txt",'r',encoding='latin-1') as file:
    lines = file.readlines()

In [11]:
id = []
titles = []
descriptions = []

In [12]:
for line in lines:
    parts = line.strip().split(':::')
    id.append(parts[0])
    titles.append(parts[1])
    descriptions.append(parts[2])

In [13]:
len(id) ==len(titles) ==len(descriptions)

True

In [14]:
df_test = pd.DataFrame({'index':id,'title':titles,'description':descriptions})

In [15]:
df_test

,index,title,description
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papÃƒÂ¡ (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),Before he was known internationally as a mart...
...,...,...,...
54195,54196,"""Tales of Light & Dark"" (2013)","Covering multiple genres, Tales of Light & Da..."
54196,54197,Der letzte Mohikaner (1965),As Alice and Cora Munro attempt to find their...
54197,54198,Oliver Twink (2007),A movie 169 years in the making. Oliver Twist...
54198,54199,Slipstream (1973),"Popular, but mysterious rock D.J Mike Mallard..."
54199,54200,Curitiba Zero Grau (2010),"Curitiba is a city in movement, with rhythms ..."

In [18]:
from sklearn.model_selection import train_test_split

# splitting data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(df[['title', 'description']], df['genre'], test_size=0.25, random_state=1)

# using countvectorizer to convert data into numerical
vectorizer_title = CountVectorizer()
vectorizer_description = CountVectorizer()

X_train_title = vectorizer_title.fit_transform(X_train['title'])
X_train_description = vectorizer_description.fit_transform(X_train['description'])
#By using hstack to make X_train_title and X_train_description into single sparse matrix (it take only few memory space)
X_train_sparse = hstack([X_train_title, X_train_description])
X_test_title = vectorizer_title.transform(X_test['title'])
X_test_description = vectorizer_description.transform(X_test['description'])
X_test_sparse = hstack([X_test_title, X_test_description])

# (y_train,y_test) - here the "genre" are categorical labels(means not textual) so it is not need to use transform() 
#for converting to numerical.It can directly train and test internally

# using naive bayes mutinomial nb
model = MultinomialNB()
model.fit(X_train_sparse, y_train)

# Predict on test data
prediction = model.predict(X_test_sparse)

In [25]:
new_input_title = "real ghost"
new_input_description = "I was scared by ghost during midnight"

# using countvectorizer for converting textual data to numerical
new_input_title_vec = vectorizer_title.transform([new_input_title])
new_input_description_vec = vectorizer_description.transform([new_input_description])

# Combine title and description vectors into a single sparse matrix(for memory efficiency of system)
new_input_sparse = hstack([new_input_title_vec, new_input_description_vec])

# Predict genre using the trained model
predicted_genre = model.predict(new_input_sparse)

print(f"The predicted genre for '{new_input_title}' is: {predicted_genre[0]}")

The predicted genre for 'real ghost' is:  horror